.h1,
h1 {
	line-height: 1.2;
	font-size: 2rem !important;
}
.h2,
h2 {
	line-height: 1.4;
	font-size: 1.7rem !important;
}
.h3,
h3 {
	line-height: 1.4;
	font-size: 1.3rem !important;
}
.h4,
h4 {
	font-size: 1rem !important;
}
.h5,
h5 {
	font-size: 0.77rem !important;
}
p {
	font-size: $font__size-sm;
}

.font-700 {
	font-weight: 700 !important;
}
.font-500 {
	font-weight: 500 !important;
}
.font-400 {
	font-weight: 400 !important;
}
.font-300 {
	font-weight: 300 !important;
}
